.btn-section{
  display: flex;
}
.btn-toolTip{
  display: inline;
  font-size: .6em;
  padding: 2px 8px;
  border-radius: 10px;
  background-color: var(--text-100);
  color: var(--bg-100);
  position: absolute;
  top: 100%;
  right: 0%;
  z-index: 2;
} 
.btn:not(:hover) .btn-toolTip{
  display: none;
} 

.btn{
  position: relative;
  cursor: pointer;
  display: grid;
  place-content: center;
  width: auto;
  padding: 10px;
  border-radius: 10px;
  background-color:var(--primary-100) ;
}