.card{
    background-color: var(--bg-200);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.card .heading{
    text-align: center;
    font-size: 2em;
}
.modal{
    padding: 20px;
}
input{
    background-color: var(--bg-300);
    color: var(--text-100);
}
.inp{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.modal .inp label{
    font-size: .8em;
}
.modal .inp input{
    width: 70%;
    padding: 5px 20px;
    border-radius: 20px;
    outline: none;
}
.todos{
}